@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: #19a2ae;
  --very-dark: #2d3248;
  --dark-grayish-blue: #6a6f81;
  --dark-gray: #969696;

  --desktop: 1440px;
  --mobile: 375px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  font-family: 'Kumbh Sans', sans-serif;
}

/* */
.container {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.pattern-top {
  position: absolute;
  top: -70vh;
  left: -8vw;
}

.pattern-bottom {
  position: absolute;
  bottom: -80vh;
  right: -10vw;
}

.card {
  border-radius: 2rem;
  background-color: #fff;
  width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.card__header {
  position: relative;
  width: 100%;
}

.card__avatar {
  position: absolute;
  bottom: -33%;
  right: 12.7rem;
  z-index: 2;
}

.card__avatar img {
  border-radius: 50%;
  border: 5px solid #fff;
}

.card__body {
  margin-top: 4.5rem;
  width: 100%;
  text-align: center;
}

.card__title {
  padding: 3rem;
  border-bottom: 1px solid var(--dark-gray);
}

.card__footer ul {
  list-style-type: none;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__footer ul li h2,
.card__title h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}
.card__title h1 span {
  color: var(--dark-grayish-blue);
  font-weight: 400;
  margin-left: 1rem;
}

.card__footer ul li p,
.card__title p {
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
  letter-spacing: 1.2px;
}

.card__title p {
  margin-top: 2rem;
  font-size: 1.6rem;
}
